﻿@model IEnumerable<Ribad.Models.Riba>

@{
    ViewBag.Title = "Ribad";
}
    <style>
        tr.hall {
            background-color: lightgray;
        }

        div.relative {
            position: relative;
            width: 100%;
            height: 20px;
            background-color: white;
        }

        div.absolute {
            position: absolute;
            top: 0;
            height: 100%;
            background-color: lightblue;
            text-align:center;
        }
    </style>
<h2>Ribad</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Algus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lopp)
        </th>
        <th></th>
    </tr>
    @foreach (var kes in Model.GroupBy(x => x.Nimi))
    {
        <tr>
            <td colspan="3">
                Ribad - @kes.Key
            </td>
        </tr>
        foreach (var item in kes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Algus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lopp)
                </td>
            </tr>
        }
    }

</table>

<table class="table table-bordered">
    <tr>
        <th>Nimi</th>
        <th>Jaanuar</th>
        <th>Veebruar</th>
        <th>Märts</th>
        <th>Aprill</th>
        <th>Mai</th>
        <th>Juuni</th>
        <th>Juuli</th>
        <th>August</th>
        <th>September</th>
        <th>Oktoober</th>
        <th>November</th>
        <th>Detsember</th>
    </tr>

    @foreach (var kes in Model.GroupBy(x => x.Nimi))
    {
        <tr class="hall">
            <td>@kes.Key</td>
            <td colspan="12">
                <div class="relative">
                    @foreach(var item in 
                        kes.Select(x => new 
                            { nimi = x.Nimi,
                            left = (x.Algus - new DateTime(2019,1,1)).Days * 100 / 365, 
                              width = (x.Lopp - x.Algus).Days * 100 / 365 } ))
                    {
                        <div class="absolute" style="width:@item.width%;left:@item.left%">
                            @item.nimi puhkab
                        </div>
                    }
                </div>
            </td>
        </tr>
    }
</table>