﻿@using UserJaPerson.Models
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div>
    <form action="/Home/About/" method="post" name="myForm">
        @Html.DropDownList("StudioId", null, "-- vali studio --", htmlAttributes: new { onchange = "document.myForm.submit()" })
        @Html.Hidden("Day")
    </form>
    @Html.ActionLink("Eelmine", "About", new { StudioId = ViewBag.StudioId.SelectedValue, Day = ViewBag.Day.AddDays(-1) })
    @Html.ActionLink("Järgmine", "About", new { StudioId = ViewBag.StudioId.SelectedValue, Day = ViewBag.Day.AddDays(1) })


    @if (ViewBag.Bookings != null)
    {
        IEnumerable<Booking> bookings = ViewBag.Bookings;
        if (bookings.Count() > 0)
        {
        <table class="table table-bordered">
            <tr>
                <th>Päev</th>
                @for (int j = 10; j < 21; j++)
                {
                    <th>@j:00</th>
                }
            </tr>

            @for (int i = 0; i < 7; i++)
            {
                DateTime day = ViewBag.Day.AddDays(i);
                <tr>
                    <td>
                        @day.ToString("dddd dd.MM")
                    </td>
                    @for (int j = 10; j < 21; j++)
                    {
                        Booking b = bookings.Where(x => x.Kuupäev == day && j >= x.Kell && j < (x.Kell + x.Tunde)).FirstOrDefault();
                <td>
                    @if (b == null)
                    {
                        <p>@Html.ActionLink("Book", "Book", new { Day = day, Time = j, StudioId = ViewBag.StudioId.SelectedValue })</p>
                    }
                    else
                    {
                        <p>@b.Nimi</p>
                    }
                </td>
                    }
                </tr>
            }
        </table>
        }


        <h3>Bookingud</h3>
        foreach (Booking booking in ViewBag.Bookings)
        {
            <p>@booking.Studio.Nimi @booking.Kuupäev.ToShortDateString() @booking.Kell @booking.Tunde</p>
        }
    }


</div>