﻿@using UserJaPerson.Models
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div>

    @if (ViewBag.Bookings == null)
    {
        <h3>Stuudiod</h3>
        foreach (var x in ViewBag.Stuudiod)
        {
            <p>@x.Nimi</p>
        }
    }
    else
    {
        <h3>Bookingud</h3>
        foreach (Booking booking in ViewBag.Bookings)
        {
            <p>@booking.Studio.Nimi @booking.Kuupäev.ToShortDateString() @booking.Kell @booking.Tunde</p>
        }
    }
</div>