﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Result: @ViewBag.Result</p>
@*<p>Params: @ViewBag.Params</p>*@
<p>Query: @ViewBag.Query</p>
<p>@ViewBag.Started</p>
<p>Test: @ViewBag.Test</p>
<p>Kook: @ViewBag.Kook</p>


@using (Html.BeginForm("Index", "Test", FormMethod.Post))
{
    <h3>@@HTML POST vormi kaudu</h3>
    <dl class="dl-horizontal">
        <dt>number:</dt><dd><input name="id" type="number" /></dd>
        <dt>nimi:</dt><dd><input name="nimi" type="text" /></dd>
        <dt>muu:</dt><dd><input name="muu" type="text" /></dd>
        <dt>MUU:</dt><dd><input name="MUU" type="text" /></dd>
    </dl>
    <input name="nupp" type="submit" value="esimene" />
    <input name="nupp" type="submit" value="teine" />
}
@using (Html.BeginForm("Index", "Test", FormMethod.Get))
{
    <h3>@@HTML GET vormi kaudu</h3>
    <dl class="dl-horizontal">
        <dt>number:</dt><dd><input name="id" type="number" /></dd>
        <dt>nimi:</dt><dd><input name="nimi" type="text" /></dd>
        <dt>muu:</dt><dd><input name="muu" type="text" /></dd>
        <dt>MUU:</dt><dd><input name="MUU" type="text" /></dd>
    </dl>
    <input name="nupp" type="submit" value="esimene" />
    <input name="nupp" type="submit" value="teine" />
}

<h3>Käsitsi get</h3>
<form action="/Test/Index/7?muu=muulehm" method="get">
    <input name="nimi" type="text" />
    <input name="nupp" type="submit" value="esimene" />
    <input name="nupp" type="submit" value="teine" />
</form>

<h3>Käsitsi post</h3>
<form action="/Test/Index/7?muu=muulehm" method="post">
    <input name="nimi" type="text" />
    <input name="nupp" type="submit" value="esimene" />
    <input name="nupp" type="submit" value="teine" />
</form>
