﻿@model IEnumerable<EditAddVary.Models.Product>

@{
    ViewBag.Title = "Index";
}

@if (ViewBag.Ret == 0)
{
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID, ret = ViewBag.Ret }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID, ret = ViewBag.Ret }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID, ret = ViewBag.Ret })
            </td>
        </tr>
    }
    @if (ViewBag.Ret != 0)
    {
        <tr>
            <td>
                @Html.Editor("ProductName")
            </td>
            <td>
                @*@Html.DropDownList("SupplierID", null, "-- select supplier --")*@
            </td>
            <td>
                @Html.Editor("QuantityPerUnit")
            </td>
            <td>
                @Html.Editor("UnitPrice")
            </td>
            @*<td>
                @Html.Editor("UnitsInStock")
            </td>
            <td>
                @Html.Editor("UnitsOnOrder")
            </td>
            <td>
                @Html.Editor("ReorderLevel")
            </td>*@
            <td>
                @Html.CheckBox("Discontinued")
            </td>
            <td>
                @ViewBag.CategoryName 
                <input type="hidden" name="CategoryId" value="@ViewBag.Ret" />
            </td>
            <td>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </td>

        </tr>
    }

</table>
