﻿@model EditAddVary.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            <img src="@Url.Action("Picture", "Categories", new { id = Model.CategoryID })" height="120" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Product list</h2>

@Html.ActionLink("Create", "Create", "Products", new {id = Model.CategoryID}, null  )

@using (Html.BeginForm("Create", "Products", FormMethod.Post))
{
    <input type="hidden" name="ret" value="@Model.CategoryID" />
    @Html.AntiForgeryToken()
    @Html.Action("Index", "Products", new { id = Model.CategoryID })
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
