﻿@model IEnumerable<UserJaPerson.Models.DataFileInfo>

@{
    ViewBag.Title = "Index";
    string database = Session["db"].ToString(); // cache'i juhtimiseks
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form name="myForm" action="/DataFiles/Index" method="post">
    @Html.DropDownList("db", null, htmlAttributes: new { onchange="document.myForm.submit()" })
    <input type="submit" value="vaata" />
</form>

<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>Pilt</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.ContentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td> @*see parameeter database on Cache'i juhtimiseks*@
            <img src="@Url.Action("Content","My",new { id = item.Id, database })" height="200" />
        </td>

        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
